.homepage.container {
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 3%;
  padding-top: 4%;
  .homepage-container__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .text-inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
      padding: 0 20px;
    }
    .text-inner-other-container {
      padding: 0 20px;
    }
    h1 {
      font-size: 6.5rem;
      line-height: 100px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0px;
      span {
        display: none;
      }
    }
    #type-text {
      width: 100%;
      font-size: 5rem;
      // display: inline-block;
      margin-top: 0px;
      span {
        border-right: 0.05em solid;
        animation: caret 1s steps(1) infinite;
      }
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
  }
  p {
    font-size: 1rem;
    line-height: 1.75em;
    color: #d5d5d5;
    max-width: 505px;
    text-align: left;
    margin: 0 auto;
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-primary {
      max-width: 240px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      a {
        max-width: 240px;
        margin: 0 auto;
        padding: 0.872em 2.1em;
        span {
          font-weight: 600;
        }
      }
    }
  }
  .homepage-container__image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    overflow: hidden;
    text-align: center;
    padding: 17px;
    margin-bottom: 60px;
  }
  .placeholder-img {
    z-index: 0;
    width: 100%;
    position: unset;
    max-width: 400px;
    border-radius: 1000px;
    // filter: grayscale(1);
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
  img {
    width: 100%;
    max-width: 400px;
    // background-color: #333;
    // border: 1px solid #333;
    border-radius: 1000px;
    // filter: grayscale(1);
    -webkit-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 80%);
    -moz-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 80%);
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 80%);
  }
}

// #type-text {
//   font-size: 3rem;
//   line-height: 56px;
//   margin: 0 0 20px 0px;
//   margin-bottom: 20px;
//   margin-top: 0;
//   display: inline-block;
//   span {
//     border-right: 0.05em solid;
//     animation: caret 1s steps(1) infinite;
//   }
// }

.hp-image {
  width: 100%;
  padding-top: 50%;
  background-image: url("https://res.cloudinary.com/cloudinary-ls-images/image/upload/v1620401501/img/logo-homepage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  max-width: 300px;
  z-index: -1;
  opacity: 0.3;
  /* top: -84px; */
  /* filter: grayscale(1); */
}

@media only screen and (min-width: 900px) {
  .homepage.container {
    .homepage-container__image-container {
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .homepage.container {
    .homepage-container__text-container {
      margin-bottom: 0;
    }
    .hp-image {
      display: none;
    }
  }
}

// @media only screen and (min-width: 767px) and (max-width: 900px) {
//   .homepage.container {
//     .homepage-container__image-container {
//       margin-bottom: 0;
//     }
//   }
// }

@media only screen and (max-width: 767px) {
  .homepage.container {
    margin: 0;
    padding: 0;
    .homepage-container__text-container {
      padding-right: unset;
      width: 100%;
      align-items: center;
      text-align: center;
      // h1 {
      //   font-size: 3rem;
      //   line-height: 50px;
      // }
      // p {
      //   // text-align: left;
      // }
    }
    .homepage-container__image-container {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      justify-content: center;
      img {
        max-width: 200px;
      }
    }
    h3 {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (min-width: 370px) and (max-width: 767px) {
  .homepage.container {
    .homepage-container__text-container {
      h1 {
        font-size: 3.3rem;
        line-height: 50px;
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  .homepage.container {
    .homepage-container__text-container {
      h1 {
        font-size: 2.9rem;
        line-height: 50px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .homepage.container {
    .btn-container {
      .btn-primary {
        max-width: unset;
        width: 100%;
        margin-bottom: 30px;
        a {
          max-width: unset;
          line-height: 1.7;
        }
      }
    }
  }
}

// PAGE CONTAINERS
.container {
  display: flex;
  margin: 5% 10%;
}

@media only screen and (max-width: 1100px) {
  // .container {
  //   margin: 5% 0;
  // }
  .container {
    margin: 0 5% 0;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
