.blurred-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred-img img {
  opacity: 0;
}

.blurred-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: var(--text-color);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.img-clear.loaded {
  background-image: unset !important;
}

.blurred-img.loaded::before {
  animation: none;
  content: none;
}

.blurred-img img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blurred-img.loaded img {
  opacity: 1;
}

// TESTIMONIAL SLIDER
.advlazyload-container.testomonial {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

// TESTIMONIAL SLIDER
// .advlazyload-container.clients {
//   background-size: contain;
// }
