// FIX FOR BANNER
.home-page .announcement-banner-container.desktop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 16px 10px 16px;
}

.announcement-banner-container {
  background: #3f0085;
  background: linear-gradient(
    90deg,
    rgba(63, 0, 133, 1) 0%,
    rgba(132, 24, 252, 1) 68%,
    rgba(106, 0, 224, 1) 100%
  );
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
}

.announcement-banner-container__message {
  font-size: 0.9rem;
  margin: unset;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-height: 45px;
  overflow: hidden;
  color: #fff;
}

.announcement-banner-container__message > span {
  text-decoration: underline;
}

.announcement-banner-container.desktop {
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.78);
  padding: 10px 6px 10px 16px;
}

.announcement-banner-container.mobile {
  display: none;
}

.announcement-banner-container.mobile {
  position: absolute;
  top: -31px;
  left: 0;
  background: rgb(63, 0, 133);
  background: linear-gradient(
    90deg,
    rgba(63, 0, 133, 1) 0%,
    rgba(132, 24, 252, 1) 68%,
    rgba(106, 0, 224, 1) 100%
  );
  padding: 3px 16px;
}

@media only screen and (max-width: 900px) {
  .announcement-banner-container.desktop {
    display: none;
  }
  .announcement-banner-container.mobile {
    display: block;
  }
}

@media (max-height: 940px) {
  .announcement-banner-container.desktop {
    display: none;
  }
}

// LIGHT MODE
body.light .announcement-banner-container.desktop {
  background: rgb(0, 44, 115);
  background: linear-gradient(
    90deg,
    rgba(0, 44, 115, 1) 0%,
    rgba(0, 99, 255, 1) 68%,
    rgba(23, 78, 166, 1) 100%
  );
}

body.light .announcement-banner-container.mobile {
  background: rgb(0, 44, 115);
  background: linear-gradient(
    90deg,
    rgba(0, 44, 115, 1) 0%,
    rgba(0, 99, 255, 1) 68%,
    rgba(23, 78, 166, 1) 100%
  );
}

body.light .announcement-banner-container p,
body.light a.announcement-banner-container p span {
  color: #fff;
}
