.wos-watch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0px auto;
  max-width: 1000px;
}

.smart-watch-container {
  margin: 0px auto;
  font-family: "__Poppins_a2e376", Helvetica, sans-serif;
  color: #fff;
  max-width: 235px;
  height: 450px;
  display: flex;
  align-items: center;
}
.wos-role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.wos-role-container > p:nth-child(3) {
  font-size: 1rem;
  margin-bottom: 40px;
}

.smart-watch-container__inner-container {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.smart-watch-container__inner-container img {
  width: 100%;
  height: auto;
}

.smart-watch-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 218px;
  margin-left: -74px;
  left: 35%;
  height: 247px;
  background-color: #111;
  border-radius: 50px;
  z-index: -1;
}

.smart-watch-widgets {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 150px;
  margin-left: -74px;
  left: 50%;
  height: 190px;
}
.smart-watch-widgets__inner-container {
  position: relative;
}

/* APPLE WATCH - DATE & TIME*/
.smart-watch__date-container {
  text-transform: uppercase;
  max-width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
}
.smart-watch__date-container__day {
  margin-bottom: -4px;
}
.smart-watch__date-container__time {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2.3rem;
  margin-top: -5px;
  font-weight: 400;
}

@media (max-width: 992px) {
}

@media (max-width: 350px) {
}

/* ************************************** */

/* WOS STOCK API */
.wos-widget-api {
  padding: 0;
  max-width: 42px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.wos-widget-api p {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0;
}
.wos-widget-api #stock-price {
  font-size: 0.77rem;
  margin-top: -2px;
}
.wos-widget-api #market {
  margin-bottom: -4px;
}
.wos-widget-api #stock-day-average {
  margin-top: -1px;
}

/* -------------------------------------------- */
/* GOOGLE NEWS API */
.google-news-wos {
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 60px;
}
.google-news-wos__card {
  text-align: left;
  display: flex;
  padding: 0;
  border-radius: 20px;
  flex-direction: column;
}
.google-news-wos__card img {
  max-width: 25px;
  margin-right: 10px;
}
.google-news-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.portfolio-container__api-container {
  .api-container {
    .new-info-container {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      a {
        text-align: left;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.news-link {
  color: #fff;
}
.google-news-wos__card .news-title {
  width: 100%;
  font-size: 0.7rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 50px;
  margin: 0;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
}
.google-news-wos__card .news-date {
  font-size: 0.8rem;
  margin-top: 10px;
}
