body {
  scroll-behavior: smooth;
}

.bk-to-top-container {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    // svg {
    // }
  }
  .bk-to-top-container__icon {
    background-color: #333;
    box-shadow: 0 3px 4px rgb(0 0 0 / 10%), 0 3px 4px rgb(0 0 0 / 13%);
    border-radius: 100%;
    position: absolute;
    padding: 9px 11px;
    // box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.78);
    &:hover {
      background-color: #6700da;
      svg {
        opacity: 1;
      }
    }
    svg {
      color: #fff;
      font-size: 1rem;
      opacity: 0.55;
    }
  }
}

@media only screen and (max-width: 900px) {
  .bk-to-top-container {
    .bk-to-top-container__icon {
      padding: 11px 13px;
      svg {
        font-size: 1.3rem;
      }
    }
  }
}
