@import "../App";

.portfolio-container__media-container {
  .card-container {
    width: 31.93%;
    display: block;
    position: relative;
    border: 1px solid #333;
    border-radius: 20px;
    overflow: hidden;
    padding-top: 23%;
    margin: 0.7%;
    // SAFARI BORDER RADIUS FIX
    transform: translateZ(0);
    // border: 2px solid $primary-color;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
    &:hover {
      cursor: pointer;
      .card-container__subtitle {
        opacity: 1;
      }
      .card-container__icon {
        opacity: 1;
      }
    }
    .card-container__title {
      position: absolute;
      margin: 0;
      top: 20px;
      left: 20px;
      line-height: 18px;
      color: #f5f5f5;
      padding: 4px 10px;
      border-radius: 5px;
      background-color: #222;
      font-size: 1rem;
      max-width: calc(100% - 67px);
      z-index: 1;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.5);
    }
    .card-container__image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: -15%;
      width: 100%;
      padding-top: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .card-container__card-loading-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      margin-left: -25px;
      z-index: 0;
      width: 50px;
      height: 50px;
    }
    .card-container__subtitle {
      position: absolute;
      margin: 0;
      bottom: 20px;
      left: 20px;
      padding: 3px 7px;
      border-radius: 5px;
      font-size: 0.7rem;
      color: #f5f5f5;
      background-color: #222;
      line-height: 1.2em;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.5);
    }
    .card-container__icon {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: #222;
      padding: 12px;
      line-height: 15px;
      border-radius: 6px;
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.5);
      // border: 2px solid $secondary-color;
      svg {
        width: 22px;
        height: 22px;
        color: $primary-color;
      }
      // &:hover {
      //   background-color: $secondary-color;
      // }
    }
  }
}

.card-container:hover .card-container__image {
  transform: scale(1.2);
  //   cursor: pointer;
}

.portfolio-container__media-container a:hover .card-container__subtitle {
  opacity: 1;
}

.portfolio-container__media-container a:hover .card-container__icon {
  opacity: 1;
}

@media only screen and (min-width: 900px) {
  .portfolio-container__media-container {
    .card-container {
      .card-container__icon {
        padding: 10px;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .portfolio-container__media-container {
    .card-container {
      .card-container__image {
        top: -8%;
      }
    }
  }
}

@media only screen and (min-width: 550px) and (max-width: 900px) {
  .portfolio-container__media-container {
    .card-container {
      width: 48%;
      padding-top: 40%;
      margin: 1%;
      // box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
    }
  }
}

@media only screen and (max-width: 550px) {
  .portfolio-container__media-container {
    .card-container {
      width: 99.6%;
      margin: 0 0 20px 0;
      padding-top: 80%;
      .card-container__subtitle {
        opacity: 1;
      }
      .card-container__icon {
        opacity: 1;
      }
    }
  }
}
