body #cookie-message.-close {
  opacity: 0;
  overflow: hidden;
  bottom: -130px;
  z-index: -999;
}

#cookie-message {
  color: #fff;
  opacity: 1;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 9999999999;
  transition: 0.7s all ease-out, opacity 500ms ease-in-out;
}

#cookie-message .cookie-img {
  max-width: 140px;
}

#cookie-message .cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 35px 35px 44px 35px;
  width: 100%;
  max-width: 400px;
  background-color: #333;
  // border: 1px solid #404040;
}
#cookie-message #cookie-accept {
  color: #fff;
  background-color: #6700da;
  // border: 2px solid #6700da;
  padding: 0.8em 2.1em;
  margin-bottom: 0;
  line-height: 1.2;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  display: block;
  text-align: center;
  font-weight: 400;
  width: 100%;
  // max-width: 240px;
  margin: 0 auto;
  border: unset;
}
#cookie-message #cookie-accept:hover {
  background-color: #6700da;
  cursor: pointer;
}
.cookie-container__cookies-left {
  line-height: 15px;
  width: 100%;
  line-height: 1.75em;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.cookie-container__cookies-left > .cookie-title {
  font-size: 1.563rem;
  text-align: left;
  margin-top: unset;
}

.cookie-container__cookies-left > p {
  text-align: left;
  max-width: 583px;
  margin: 16px auto 16px auto;
}

.cookie-container__cookies-left span {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

.cookie-container__cookies-right {
  width: 100%;
}

.cookie-container__cookies-right > button {
  font-size: 0.875rem;
}

.cookie-container__cookies-right > button.leave {
  font-size: 0.875rem;
  opacity: 0.7;
  text-decoration: underline;
  border: unset;
  background-color: unset;
  margin-top: 22px;
}

.cookie-container__cookies-right > button.leave:hover {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .cookie-container__cookies-left br {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .cookie-container__cookies-left {
    margin-bottom: 20px;
  }
  .cookie-container__cookies-left span {
    margin-bottom: 10px;
  }
  .cookie-container__cookies-left,
  .cookie-container__cookies-right {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  #cookie-message {
    align-items: flex-end;
  }
  #cookie-message .cookie-container {
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
    border-radius: 20px 20px 0 0;
    max-width: unset;
  }
  // .cookie-container__cookies-left > .cookie-title {
  //   text-align: left;
  // }
  .cookie-container__cookies-left > p {
    max-width: unset;
  }
}

@media only screen and (max-width: 500px) {
  #cookie-message #cookie-accept {
    line-height: 1.7;
  }
  #cookie-message #cookie-accept {
    max-width: unset;
  }
}

@media (max-width: 750px) and (orientation: landscape) {
  #cookie-message .cookie-container {
    height: 250px;
    overflow: scroll;
    justify-content: flex-start;
  }
}

@media (max-height: 600px) {
  #cookie-message .cookie-img {
    display: none;
  }
}

// LIGHT MODE

body.light #cookie-message .cookie-container {
  background-color: #fff;
  color: #000;
}

body.light #cookie-message #cookie-accept {
  background-color: #174ea6;
}
