.github-badges-title {
  padding: 10px 16px 0px 16px;
  font-weight: 600;
  margin: unset;
}

.footer-container ul li.ghb-desktop .github-badges-title {
  display: none;
}

.github-badges-container {
  display: flex;
}

.ghb-desktop .github-badges-container {
  align-items: center;
  justify-content: space-evenly;
}

.ghb-desktop .github-badges-container img {
  max-width: 30px;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}

.ghb-desktop .github-badges-container img:hover {
  filter: unset;
  cursor: pointer;
}

.ghb-desktop .github-badges-container .github-badges-container__artic {
  margin-right: 1px;
}

.ghb-desktop .github-badges-container .github-badges-container__sponsor {
  margin-right: 3px;
}

.ghb-desktop .github-badges-container .github-badges-container__yolo {
  margin-right: 5px;
}

.mb-nav-container ul li.ghb-mobile {
  position: absolute;
  bottom: 0;
  margin: unset;
  padding: unset;
  width: 100%;
}

.mb-nav-container ul li.ghb-mobile > a {
  border-left: unset;
  padding: unset;
  display: unset;
  font-size: unset;
  font-weight: unset;
}

.ghb-mobile .github-badges-container {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 12px 20px 12px;
}

.ghb-mobile .github-badges-container img {
  max-width: 45px;
}

.ghb-mobile .github-badges-container .github-badges-container__artic {
  margin-right: 1px;
}

.ghb-mobile .github-badges-container .github-badges-container__sponsor {
  margin-right: 5px;
}

.ghb-mobile .github-badges-container .github-badges-container__yolo {
  margin-right: 8px;
}

@media screen and (max-width: 901px) {
  .footer-container ul li.ghb-desktop {
    display: none;
  }
}

@media screen and (max-width: 330px) {
  .ghb-mobile .github-badges-container img {
    max-width: 40px;
  }
}

@media screen and (max-height: 550px) {
  .github-badges-title,
  .github-badges-container {
    display: none;
  }
}
