.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  box-sizing: border-box;
  .nav-container__name-container {
    width: 30%;
    display: flex;
    align-items: center;
    line-height: 21px;
    margin-left: -25px;
  }
  .logo-container {
    display: flex;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    margin-right: 8px;
    height: 50px;
    width: 50px;
  }
  img {
    // width: 100%;
    height: auto;
    width: 40px;
    padding: 5px;
    box-sizing: unset;
  }
  h2 {
    font-size: 1.25rem;
    margin: 0;
  }
  .nav-container__links-container {
    list-style-type: unset;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 70%;
    max-width: 460px;
    margin: 0 -19px 0 0;
    align-items: center;
  }
  li {
    display: unset;
    color: #f5f5f5;
    margin-right: 40px;
    &:nth-child(4) {
      margin-right: 0;
    }
    a {
      opacity: 0.55;
      font-size: 1rem;
      transition: unset;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    a.active {
      opacity: 1;
      font-weight: 600;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  // .tech-stack-logos-container {
  //   width: 100%;
  //   max-width: 300px;
  //   opacity: 0.5;
  //   position: absolute;
  //   bottom: 40px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-evenly;
  //   right: -15px;
  //   color: #fff;
  //   svg {
  //     font-size: 32px;
  //   }
  // }
  /*
  .contact {
    color: #fff;
    //background-color: #333;
    //border: 2px solid #007ced;
    //padding: 0.8em 2.1em;
    //margin-bottom: 0;
    //line-height: 1.2;
    //border-radius: 5px;
    //text-decoration: none;
    //box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
    //display: block;
    //text-align: center;
  }
  */
  svg.fa-bars {
    color: #fff;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 901px) {
  .nav-container {
    position: absolute;
    width: 89.4%;
    left: 50%;
    z-index: 999;
    margin-left: -44.7%;
    top: 40px;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 901px) {
  .nav-container {
    .nav-container__links-container {
      height: auto !important;
    }
    #nav-icon {
      display: none;
    }
    .tech-stack-logos-container {
      display: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .nav-container {
    backdrop-filter: blur(5px);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    // background-color: #222;
    position: fixed;
    top: 31px;
    //top: -1px;
    left: 0;
    z-index: 999;
    // -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    // -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    padding: 11px 20px;
    .nav-container__name-container {
      width: 75%;
      z-index: inherit;
      margin-left: unset;
      h2 {
        font-size: 1.13rem;
      }
      .logo-container {
        margin-top: 0;
      }
      // .logo-container img {
      //   max-width: 30px;
      // }
    }
    .nav-container__links-container {
      display: none;
      // margin: 0;
      // position: absolute;
      // transform: translateZ(0);
      // height: 100vh;
      // left: 0;
      // top: -100vh;
      // flex-direction: column;
      // justify-content: center;
      // align-items: flex-end;
      // ///////////
      // ///////////
      // background: rgb(27, 2, 55);
      // background: -moz-linear-gradient(
      //   0deg,
      //   rgba(27, 2, 55, 1) 0%,
      //   rgba(77, 0, 166, 1) 50%,
      //   rgba(106, 0, 224, 1) 100%
      // );
      // background: -webkit-linear-gradient(
      //   0deg,
      //   rgba(27, 2, 55, 1) 0%,
      //   rgba(77, 0, 166, 1) 50%,
      //   rgba(106, 0, 224, 1) 100%
      // );
      // background: linear-gradient(
      //   0deg,
      //   rgba(27, 2, 55, 1) 0%,
      //   rgba(77, 0, 166, 1) 50%,
      //   rgba(106, 0, 224, 1) 100%
      // );
      // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b0237",endColorstr="#6a00e0",GradientType=1);
      // ///////////
      // ///////////
      // width: 100%;
      // max-width: unset;
      // transition: all 0.44s ease-in-out;
      // li {
      //   margin-right: 20px;
      //   padding: 10px 0;
      //   a {
      //     font-size: 3rem;
      //     font-weight: 600;
      //   }
      //   // a.active {
      //   //   opacity: 1;
      //   // }
      // }
      // .contact {
      //   -webkit-backdrop-filter: unset;
      //   backdrop-filter: unset;
      //   background: unset;
      //   padding: 0;
      // }
    }

    // #nav-menu-icon {
    //   width: 5%;
    //   text-align: right;
    //   padding: 10px;
    //   z-index: inherit;
    //   &:hover {
    //     cursor: pointer;
    //   }
    // }
    #nav-icon {
      width: 9%;
      max-width: 33px;
      height: 21px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
      span:nth-child(1) {
        top: 0px;
      }

      span:nth-child(2),
      span:nth-child(3) {
        top: 9px;
      }

      span:nth-child(4) {
        top: 18px;
      }
    }
  }

  @media only screen and (max-width: 350px) {
    .nav-container {
      .nav-container__links-container {
        li {
          a {
            font-size: 2.5rem;
          }
          // a.active {
          //   opacity: 1;
          // }
        }
      }
    }
  }

  .menu-open .nav-container__links-container {
    top: 0 !important;
  }

  .menu-open #nav-icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .menu-open #nav-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .menu-open #nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu-open #nav-icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

@media only screen and (max-width: 350px) {
  .nav-container .nav-container__name-container h2 {
    font-size: 1rem;
  }
  .nav-container #nav-icon {
    width: 25%;
  }
}

@media only screen and (max-width: 325px) {
  .nav-container .nav-container__name-container h2 {
    display: none;
  }
}
