main > .testomonials-container {
  border-bottom: 2px solid #333;
}
.testomonials-container {
  padding: 70px;
  background-color: #111;
  margin-bottom: 70px;
  .slick-dots li.slick-active {
    margin: 0 15px 0 5px;
    button {
      &:before {
        background-color: #6700da;
        opacity: 1;
        width: 30px;
        height: 4px;
      }
    }
  }
  .slick-dots li button {
    width: 20px;
    height: 3px;
    &:before {
      font-size: 0;
      background-color: #454545;
      width: 20px;
      height: 3px;
      border-radius: 3px;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
    &:hover:before {
      background-color: #6700da;
    }
  }
}

.review-item {
  padding: 30px;
  margin-bottom: 10px;
  .review-container {
    display: flex;
    flex-direction: column;
    position: relative;
    position: relative;
    padding: 30px 20px 20px 60px;
    background-color: #222;
    border-radius: 8px;
    border: 2px solid #444;
    .review-container__text-container {
      p {
        //font-style: italic;
        margin-top: 0;
        font-size: 1rem;
      }
    }
    .review-container__image-container {
      position: absolute;
      display: block;
      top: -30px;
      left: -30px;
      background-color: #333;
      border-radius: 100px;
    }
    img {
      width: 80px;
      height: auto;
      position: relative;
      border-radius: 80px;
      z-index: 9;
      box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
      //   border: 3px solid #6700da;
    }
    .spinner {
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      left: 50%;
      margin-left: -12.5px;
      z-index: 0;
      width: 25px;
      height: 25px;
      z-index: 0;
      transform: translateZ(0);
    }
    .review-container__client-details {
      h2 {
        color: #e5e5e5;
        margin: 0 0 2px 0;
        font-size: 1rem;
        line-height: 1.2rem;
      }
      h3 {
        margin: 0 0 2px;
        font-size: 1rem;
        color: #bbb;
        font-weight: 400;
        line-height: 1.2rem;
      }
      // h4 {
      //   color: #000;
      //   font-size: 0.9rem;
      //   font-style: italic;
      //   line-height: 1.2rem;
      //   margin: 15px 0 2px 0;
      //   padding: 5px 15px;
      //   background-color: #fff;
      //   font-weight: 500;
      //   border-radius: 3px;
      //   display: inline-block;
      // }
    }
  }
}

// LIGHT CLASS
body.light {
  .review-item {
    .review-container {
      .review-container__client-details {
        h2 {
          color: #27242c;
        }
        h3 {
          color: #4d4d51;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .testomonials-container {
    padding: 30px 20px 40px 20px;
    margin-bottom: 40px;
    .review-item {
      padding: 60px 20px 20px 20px;
      .review-container {
        padding: 40px 20px 20px 20px;
        .review-container__image-container {
          top: -50px;
          left: 50%;
          margin-left: -40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .testomonials-container {
    .review-item {
      padding: 60px 0px 20px 0px;
    }
  }
  // .review-item .review-container .review-container__client-details h2 {
  //   margin-top: 20px;
  // }
}

@media only screen and (min-width: 700px) and (max-width: 1300px) {
  .review-container__text-container p {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}

@media only screen and (max-width: 350px) {
  .review-container__text-container p {
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}

// @media only screen and (max-width: 600px) {
//   .review-item
//     .review-container
//     .review-container__text-container
//     p.read-more-text {
//     -webkit-line-clamp: 2;
//     max-height: 57px;
//   }
//   .review-item
//     .review-container
//     .review-container__text-container
//     p.read-more-text.-show {
//     -webkit-line-clamp: unset;
//   }
// }
