.cicd-container {
  padding: 0 70px;
}

.cicd-actions-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.cicd-actions-container__action {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgb(22, 27, 34);
  border: 1px solid rgb(48, 54, 61);
  padding: 10px 16px;
  border-radius: 6px;
  z-index: 2;
  position: relative;
}

.cicd-actions-container__action::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 5px;
  height: 5px;
  content: "";
  background-color: #6e7681;
  border-radius: 50%;
  transition: background-color ease-out 0.12s;
}

.cicd-actions-container__action:first-child::before,
.cicd-actions-container__action:nth-child(5)::after {
  content: unset;
}

.cicd-actions-container__action::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 5px;
  height: 5px;
  content: "";
  background-color: #6e7681;
  border-radius: 50%;
}

.cicd-actions-container__action > svg {
  margin-right: 8px;
}

.cicd-actions-container__action > svg path {
  fill: rgb(63, 185, 80);
}

.cicd-actions-container__action > p {
  line-height: 21px;
  margin: 0;
  font-size: 0.88rem;
}

.cicd-actions-container__line {
  width: 100%;
  height: 2px;
  background-color: rgb(48, 54, 61);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.cicd-github-actions-link {
  margin-top: 30px;
  display: inline-block;
  font-size: 0.84rem;
  text-decoration: underline;
  opacity: 0.8;
}

.cicd-github-actions-link:hover {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .cicd-container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 680px) {
  .cicd-actions-container {
    flex-direction: column;
    overflow: hidden;
  }
  .cicd-actions-container__action > p {
    text-align: center;
  }
  .cicd-actions-container__action::before {
    position: absolute;
    top: 0;
    left: 50%;
  }

  .cicd-actions-container__action::after {
    position: absolute;
    top: unset;
    bottom: -4px;
    left: 50%;
  }
  .cicd-actions-container__line {
    transform: rotate(90deg);
    top: 50%;
    left: 3px;
  }
}

// LIGHT MODE
body.light .cicd-actions-container__action {
  background-color: #fff;
  border: 1px solid rgb(208, 215, 222);
}

body.light .cicd-actions-container__line {
  background-color: rgb(208, 215, 222);
}
